body{
    font-family: tahoma; arial; sans-serif;
    margin: 0;
    padding: 0;
}

#principal{
    width: 1024px;
    margin: 20px auto;
}

.header-top{
    height: 50px;
    background: #162028;
    position: relative;
}

.logotipo{
    margin: 5px 0 0 135px;
}

.header-nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.header-nav ul{
    margin: 0;
    padding: 0;
}

.header-nav li{
    list-style: none;
    display: inline-block;
    margin-right: 0 15px 0 0;
    padding: 13px;
}

.header-nav a{
color: #425564;
text-decoration: none;
text-transform: uppercase;
font-size: 12px;
letter-spacing: 5px;
transition: color 0.3s linear;
}

.header-nav a:hover{
    color: white;
}

.portfolio{
    padding: 50px 100px;
    text-align: center;
}

.portfolio h1{
    font-size: 36px;
    color: #252525
}

.portfolio p{
    font-size: 16px;
    line-height: 2;
    color: #555
}

.gallery{
    color: #555;
    padding: 0 100px 50px 100px;
    overflow: auto;
}

.gallery-card{
    width: 32%;
    float: left;
    text-align: center;
}

.gallery-title{
    text-transform: uppercase;
    letter-spacing: 4px; 
    font-size: 16px;
    font-weight: bold;
}

.about{
    background-color: #003d52;
    padding: 100px;
    color: white;
    background-image: url(../imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.about h2{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: normal;
}

.about p{
    line-height: 1.5;
    width: 70%;
}

#contact{
    margin: 50px 0;
}

#contact address{
    color:#143f52;
    text-transform: uppercase;
    font-size: 26px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
}

.maps{
    width: 100%;
    height: 450px;
    text-align: center;
}

.maps iframe{
    width: 100%;
}

.rodape{
    padding: 25px;
    background: #143f52;
    font-size: 12px;
    color: #6f8597;
    letter-spacing: 5px;
    text-align: center;
}